<%- include('../partials/_header.ejs') -%>


<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus sit commodi perspiciatis, tempore hic laboriosam libero optio repellat voluptatum exercitationem placeat vero minus voluptatibus repudiandae iste, nulla odio pariatur eum!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum placeat dignissimos, nihil velit quia possimus aliquam hic exercitationem itaque illo. Obcaecati aspernatur deleniti, ab incidunt maiores dolor. Illo, culpa unde!</p>


<%- include('../partials/_footer.ejs') -%>